hw1/hw1test-public-22fa-ee547-ac777ba
hw2/hw2test-public-22fa-ee547
hw3/hw3test-public-22fa-ee547

node_modules/

__pycache__/
.idea/
.code/

*.zip

hw1/new_user_credentials.csv

*package-lock.json

hw2/demo.pdf
hw2/q2/async_await.js
hw2/q2/credentials.ini
